.backdrop {
  position: fixed;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  transform: scaleY(1);
  transform-origin: top;
  transition: visibility 250ms var(--timing-function), transform 250ms var(--timing-function),
    opacity 250ms var(--timing-function);
}

.backdrop.is-hidden {
  transform: scaleY(0);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
