.navigation {
  display: flex;
  align-items: center;
}

.linklist-header {
  display: flex;
  margin-left: 93px;
  margin-right: 0px;

  list-style: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-item:not(:first-child) {
  margin-left: 50px;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--main-text-color);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--sky);
  }
}

.nav-link.current {
  color: var(--sky);

  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -4%;
    width: 100%;
    height: 4px;
    background-color: var(--sky);
    border-radius: 2px;
  }
}
