:root {
  --main-text-color: #212121;
  --text-grey: #757575;

  --main-background-color: #f5f4fa;
  --regular-white: #ffffff;

  --sky: #2196f3;
  --dark-sky: #077cdd;
  --logo-black: #000000;
  --motto-back-color: #2f303a;

  --border-frame: #eeeeee;

  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*global styles*/

body {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--regular-white);
}

body.modal-open {
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
