.team-list {
  list-style: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
}

.team-box {
  padding: 30px;
}

.team-item {
  background-color: var(--regular-white);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-section {
  background-color: var(--main-background-color);
}

.team-section-tittle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-tittle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

.social-list {
  display: flex;
  gap: 10px;
  justify-content: center;
  list-style: none;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-link {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--regular-white);
  text-decoration: none;
  fill: #afb1b8;
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--sky);
    fill: var(--regular-white);
  }
}
